.colorSwatchPicker {
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 200px;
    height: 80%;
    min-height: 300px;
}