.colorSwatch {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.copyBorder {
    border: 2px dashed black;
}

.copyBorderLight {
    border: 2px dashed white;
}