.colorSwatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.horizontalTop {
    grid-area: horizontaltop;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.horizontalBottom {
    grid-area: horizontalbottom;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.verticalLeft {
    grid-area: verticalleft;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verticalRight {
    grid-area: verticalright;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colorContainerTopLeftBottomRight {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;

    grid-template-areas:
        "horizontaltop horizontaltop horizontaltop"
        "verticalleft color verticalright"
        "horizontalbottom horizontalbottom horizontalbottom";
}

.colorContainerTopLeftBottomRight .borderBox {
    border: 5px solid;
    border-color: inherit;
}

.colorContainerTopLeftBottom {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;

    grid-template-areas:
        "horizontaltop horizontaltop horizontaltop"
        "verticalleft color color"
        "horizontalbottom horizontalbottom horizontalbottom";
}

.colorContainerTopLeftBottom .borderBox {
    border-top: 5px solid;
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-color: inherit;
}

.colorContainerTopLeftRight {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;

    grid-template-areas:
        "verticalleft horizontaltop verticalright"
        "verticalleft color verticalRight"
        "verticalleft color verticalRight";
}

.colorContainerTopLeftRight .borderBox {
    border-top: 5px solid;
    border-left: 5px solid;
    border-right: 5px solid;
    border-color: inherit;
}

.colorContainerTopBottomRight {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;

    grid-template-areas:
        "horizontaltop horizontaltop horizontaltop"
        "color color verticalRight"
        "horizontalbottom horizontalbottom horizontalbottom";
}

.colorContainerTopBottomRight .borderBox {
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-right: 5px solid;
    border-color: inherit;
}

.colorContainerLeftBottomRight {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;

    grid-template-areas:
        "verticalleft color verticalRight"
        "verticalleft color verticalRight"
        "verticalleft horizontalbottom verticalRight";
}

.colorContainerLeftBottomRight .borderBox {
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-right: 5px solid;
    border-color: inherit;
}

.colorContainerLeftRight {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;

    grid-template-areas:
        "verticalleft color verticalright"
        "verticalleft color verticalright"
        "verticalleft color verticalright";
}

.colorContainerLeftRight .borderBox {
    border-left: 5px solid;
    border-right: 5px solid;
    border-color: inherit;
}

.colorContainerTopBottom {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;

    grid-template-areas:
        "horizontaltop horizontaltop horizontaltop"
        "color color color"
        "horizontalbottom horizontalbottom horizontalbottom";
}

.colorContainerTopBottom .borderBox {
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-color: inherit;
}

.colorContainer {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;

    grid-template-areas:
        "color color color"
        "color color color"
        "color color color";
}

.colorContainer .borderBox {
    border-color: inherit;
}

.copyBorder {
    box-sizing: border-box;
    border: 2px dashed;
    border-color: inherit;
}

.borderBox {
    box-sizing: border-box;
    grid-area: color;
    border-radius: 5px;
}

.light {
    border-color: white;
    color: white;
}

.dark {
    border-color: black;
    color: black;
}